/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.text-red {
  color: red;
}
.text-blue {
  color: blue;
}
.text-green {
  color: green;
}
.text-black {
  color: black;
}

.bg-red {
  background-color: lightcoral;
}

.bg-blue {
  background-color: lightblue;
}

.bg-green {
  background-color: lightgreen;
}

.bg-black {
  background-color: gray;
}
